@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model OrderView
<h2>Order Confirmation </h2>
<p>Thank you for your order </p>
<p>you have selected: @Model.Quantity x @Model.SelectedPizza.Name </p>
<p>Total Price @Model.TotalPrice</p>

<form method="post" asp-action="OrderConfirmation">

    <input type="hidden" asp-for="SelectedPizza.Id" />
    <input type="hidden" asp-for="Quantity" />

    <button type="submit">Checkout</button>
</form>